* {
  font-family: "Inter";
}

.btn-1 {
  padding: 12px 24px;
  background-color: #e5f0b6;
  border-radius: 8px;
  border: 0px;
}

.banner-warp {
  width: 300px;
}

.btn-2 {
  background-color: #553b33;
  border-radius: 8px;
  border: 0px;
  color: #ffffff;
  height: 48px;
  width: 48px;
  margin-left: 20px;
}

.btn-3 {
  padding: 22px 36px;
  border-radius: 12px;
  border: 0px;
  margin-right: 20px;
  background-color: #e5f0b6;
}

.btn-4 {
  padding: 22px 36px;
  border-radius: 12px;
  border: 1px solid;
  background-color: #ffffff;
}

.btn-5 {
  padding: 16px 24px;
  background-color: #2f241f;
  border-radius: 12px;
  color: white;
}

.btn-3 i {
  margin-right: 5px;
}

.btn-4 i {
  margin-right: 5px;
}

.btn-5:hover {
  color: #e5f0b6;
}

.banner {
  height: 486px;
  background-color: #2f241f;
  color: #e5f0b6;
}

.banner-item {
  display: flex;
}

.banner-text {
  font-size: 64px;
}

.banner-text-1 {
  width: 300px;
  font-size: 2px;
}

.banner-item-1,
.banner-item-2,
.banner-item-3 {
  height: 36px;
  width: 47px;
  margin-right: 20px;
  background: #e5f0b680;
  border-radius: 8px;
}

.banner-item-1 i {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  color: #f4f4f4;
}

.banner-item-2 i {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  color: #f4f4f4;
}

.banner-item-3 i {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  color: #f4f4f4;
}

.small {
  color: #817253;
}

.salary {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 12px;
  padding: 8px 16px;
  width: 78px;
  height: 52px;
  left: 48px;
  top: 413px;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("/assets/img/icon-nav.png");
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.55);
  border-color: rgb(255, 255, 255);
}

.navbar-brand {
  color: #2f241f;
  font-weight: 800;
  font-size: 24px;
}

.newslatter {
  background-color: #fcfafa;
  height: 514px;
}

.newslatter-items {
  margin-top: 70px;
}

.hero {
  display: flex;
}

.hero-image {
  width: 1000px;
  height: 600px;
}

.input-email input {
  width: 403px;
  height: 72px;
  border: 0px;
  border-radius: 10px 0px 0px 10px;
}

input[type="email"] {
  padding: 0px 30px;
}

.input-email span {
  padding: 28px;
  background-color: #e5f0b6;
  border-radius: 0 8px 8px 0;
}

.text-hero {
  margin: 45px 0;
  font-style: normal;
  font-weight: 800;
  font-size: 72px;
  line-height: 87px;
  letter-spacing: -0.01em;
  color: #2f241f;
}

.text-banner {
  font-size: 22px;
}

.text-partner {
  margin: 0 auto;
}

.text-partner b {
  font-size: 64px;
}

.text-newslatter {
  margin-bottom: 25px;
}

.text-newslatter h1 {
  font-size: 56px;
  font-weight: 700;
}

.partner {
  height: 305px;
  width: 100%;
}

.persegi {
  height: 305px;
  width: 1000px;
  display: flex;
}

.persegi img {
  margin-right: 40px;
}

.say {
  margin-top: 50px;
  margin-bottom: 25px;
}

.say h2 {
  font-size: 20px;
  font-weight: 400;
}

@media only screen and (max-width: 768px) {
  .btn-2 {
    background-color: #553b33;
    border-radius: 8px;
    border: 0px;
    color: #ffffff;
    height: 48px;
    width: inherit;
    margin: 10px 0;
  }

  .btn-3 {
    margin-right: 0;
  }

  .banner-warp {
    width: auto;
    margin: 0 auto;
  }

  .banner {
    height: auto;
    width: auto;
  }

  .banner-item {
    display: block;
  }

  .banner-text {
    font-size: 26px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
  }

  .text-hero {
    margin-top: 0;
    line-height: 50px;
    letter-spacing: 2px;
    font-size: 36px;
    font-weight: 700px;
  }

  .text-banner {
    font-size: 20px;
    text-align: center;
  }

  .text-partner b {
    font-size: 35px;
  }

  .text-newslatter h1 {
    text-align: center;
    font-size: 26px;
    font-weight: 700;
  }

  .hero-image {
    width: auto;
    height: 233px;
  }

  .hero {
    display: block;
    text-align: center;
  }

  .newslatter {
    background-color: #fcfafa;
    height: 314px;
  }

  .newslatter-items {
    margin-top: 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .input-email input {
    width: 200px;
    height: 51px;
    border: 0px;
    border-radius: 10px 0px 0px 10px;
  }

  input[type="email"] {
    padding: 0px 25px;
  }

  .input-email span {
    padding: 17px;
    background-color: #e5f0b6;
    border-radius: 0 8px 8px 0;
  }

  .persegi {
    margin-top: 100px;
    text-align: center;
    height: 205px;
    max-width: 100%;
    display: block;
  }

  .persegi img {
    margin: 10px;
    width: auto;
    height: 30px;
  }

  .say {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .say h2 {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
  }
}
